---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Carousel from '../components/Carousel.astro';
import { v2 as cloudinary } from 'cloudinary';
import { getCldImageUrl } from 'astro-cloudinary/helpers';
import '../styles/global.css';
const pageTitle = "Photography";

const backgroundUrl = getCldImageUrl({
  src: 'https://res.cloudinary.com/dvwdetmhx/image/upload/v1768857650/DSC_1461-Enhanced-NR_xpmwbo.jpg',
  width: 1920,                       // Recommended for full-screen hero
  height: 1080,
  crop: 'fill'                       // Ensures it covers the area
});

cloudinary.config({
    cloud_name: import.meta.env.PUBLIC_CLOUDINARY_CLOUD_NAME,
    api_key: import.meta.env.CLOUDINARY_API_KEY || process.env.CLOUDINARY_API_KEY,
    api_secret: import.meta.env.CLOUDINARY_API_SECRET || process.env.CLOUDINARY_API_SECRET,
});

async function getImagesFromFolder(folderName: string) {
  try {
    const results = await cloudinary.search
      .expression(`folder:${folderName}/*`) // Look inside this folder
      .sort_by('public_id', 'desc')         // Sort by name (or 'created_at')
      .max_results(30)                      // Limit to 30 images
      .execute();

    // Map the results to just the URL or Public ID
    return results.resources.map((file: any) => file.secure_url);
  } catch (error) {
    console.error(`Error fetching ${folderName}:`, error);
    return [];
  }
}

const banffPhotos = await getImagesFromFolder('website/banff');
const rockiesPhotos = await getImagesFromFolder('website/rockies');

---
<BaseLayout pageTitle={pageTitle}>
    <div
        class="hero min-h-screen"
        style={`background-image: url(${backgroundUrl});`}
    >
        <div class="hero-overlay bg-black/10"></div>
        <div class="hero-content text-neutral-content text-center">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">Some pics!</h1>
            <p class="mb-5">
            <!-- empty text right now -->
            </p>
        </div>
        </div>
    </div>



    <h2 class="carousel-title">Banff</h2>
    <Carousel images={banffPhotos} id="banff" />
    <div class="carousel-spacer"></div>
    <h2 class="carousel-title">Rocky Mountain National Park</h2>
    <Carousel images={rockiesPhotos} id="rockies" />
    <div class="bottom-spacer"></div>
</BaseLayout>


<style>
  .carousel-title {
    display: flex;
    width: 100%;
    max-width: 80ch;   
    margin: 0 auto;   
    padding: 1rem;
    justify-content: center;
    color: var(--text-main);
  }
  .carousel-spacer {
    height: 5rem; /* Adjust this number to increase/decrease space */
  } 
  .bottom-spacer {
    height: 10rem; /* Adjust this number to increase/decrease space */
  }
</style>
